
.icon-chevron-down {
	background-image: url('../images/icons/chevron-down.png');
	background-repeat: no-repeat;
}

.icon-facebook-with-circle {
	background-image: url('../images/icons/facebook-with-circle.png');
	background-repeat: no-repeat;
}

.icon-mobile {
	background-image: url('../images/icons/mobile.png');
	background-repeat: no-repeat;
}

.icon-twitter3 {
	background-image: url('../images/icons/twitter3.png');
	background-repeat: no-repeat;
}