// bower:scss
// endbower
// Fonts
$base-font-size: 16px;
// call to action Raleway Medium, HelveticaBold
// compatibile with IPhone raleway light
// available on Iphone raleway medium
// like, tweet raleway bold
// rediscover yourself misolight. misobold
// product of saturized raleway
// infomatic brings raleway
@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-light.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-bold.ttf") format("truetype");
    font-weight: bold;
}
body {
    font-family: "Raleway", sans-serif;
    font-size: $base-font-size;
}
// utils
@function resp($height:16px, $font-size:$base-font-size) {
    @return ($height/$font-size)*1em;
}
//overlay
html {
    // background-image: url("../images/overlay.jpg");
}
// Layout
* {
    box-sizing: border-box;
}
@import "mobile-first";
@media only screen and (min-width: resp(560px)) {
    @import "small-screen";
}
@media only screen and (min-width: resp(640px)) {
    @import "medium-screen";
}
@media only screen and (min-width: resp(930px)) {
    @import "large-screen";
}
@media only screen and (min-width: resp(1024px)) {
    @import "big-screen";
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
